.card {
    display: block;
    width: 100%;
    max-width: 190px;
    margin: 0;
    margin-right: 15px;
    margin-bottom: 25px;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    button {
        display: none;
    }

    .card__hover-box {
        display: none;
    }

    &:hover {
        position: relative;
        background: #ffffff;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
        border-radius: 4px;

        .card__hover-box {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            max-width: 190px;
            padding: 15px;
            padding-bottom: 24px !important;
            background: #ffffff;

            .hover-box__mmark {
                display: flex;
                width: 100%;
                max-width: 120px;
                justify-content: space-between;
                margin: 0;
                margin-bottom: 15px;

                p {
                    display: block;
                    margin: 0;
                    padding: 0;
                    padding-right: 25px;
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #000000;
                    background-image: url('../../images/star.svg');
                    background-repeat: no-repeat;
                    background-size: 16px;
                    background-position: 100% center;
                }

                span {
                    font-family: "Roboto";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #000000;
                }
            }

            .hover-box__title {
                display: block;
                margin: 0;
                margin-bottom: 10px;
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #000000;
            }

            .hover-box__info {
                display: block;
                margin: 0;
                margin-bottom: 5px;
            }

            button {
                display: block;
                margin: 0;
                margin-bottom: 0px;
                padding: 9px 45px;
                background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #ffffff;

                &:hover{
                    opacity: 0.8;
                }
            }
        }

        .card__info {
            display: none;
        }
    }

    .card__img-box {
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }

    .card__price {
        display: block;
        margin: 0;
        margin-bottom: 8px;
        padding: 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #ff4343;
    }

    .card__info {
        display: block;
        margin: 0;
        padding: 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 124.19%;
        color: #000000;
    }
}
