.news {
    margin: 0;
    margin-bottom: 38px;

    .news__heading {
        display: block;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
    }

    .news__list{
        display: flex;
        width: 100%;
        max-width: 1300px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .news__btn{
        display: block;
        margin: 0;
        margin-left: auto;
        padding: 14px 55px;
        border: 2px solid;
        background: #ffff;
    }
}
