.shops {
    display: block;
    margin: 0;
    margin-bottom: 100px;

    .shops__heading {
        display: block;
        margin: 0;
        margin-bottom: 27px;
        padding: 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
    }

    .shops__box {
        display: flex;
        width: 100%;
        max-width: 1300px;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .shops__list {
        display: flex;
        width: 100%;
        max-width: 900px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .shops__anons {
        display: block;
        width: 100%;
        max-width: 300px;
    }

    .shops__anons__item {
        display: block;
        width: 100%;
        max-width: 296px;
    }

    .shops__anons__item + .shops__anons__item {
        margin-top: 26px;
    }

    .shops__btn {
        display: block;
        margin: 0;
        margin-left: auto;
        padding: 2px;
        border: none;
        background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);

        span {
            display: block;
            width: 100%;
            padding: 12px 50px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            background: #ffff;
        }
    }
}
